 /* enlaces de slider */
 .slider ul li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

.slider ul li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
    display: block;
}
.menu{
    text-align: center;
    margin: 20px;
    width: 232px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 135, 95, 0.737);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
/* fin enlaces slider */
/* Pausar Animaciones y trancisiones */
#pausar, #play { 
    justify-self: end;
    z-index: 4;
    margin:0 60px;
    background: black;
    border: none;
}
.ocultar {
    display: none;
}
.pausar-animacion {
    animation-play-state: paused !important;
}
.quitar-animacion {
    animation: none !important;
}
.quitar-transition {
    transition: none !important;
}
.video-shadow:hover,  .audio-shadow:hover{
    box-shadow: none;
}
.p-sin-hover:hover{
    opacity: 1;
    font-size: 1.25em;
}

@media (prefers-reduced-motion: reduce) {
    video, .audio{
        transition: none;
    }
    .box-video:hover,  .audio:hover{
        box-shadow: none;
    }
    #loader{
        animation: none;
        background-color: #fff9;
    }
    p, p:hover{
        opacity: 1;
        font-size: 1.25em;
    }
    #img:hover, 
    .scroll-watcher, 
    section:nth-child(3),  
    section:nth-child(4),
    ul{
        animation: none;
    }
    #llama{
        animation: llama 1s forwards;
    }
    #star, #luna{
        animation: brillar 1.2s linear forwards;
        animation-play-state: running;
    }
    .astronauta, h1{
        animation-delay: -1s;
    }
    /* enlaces de slider */
    .slider ul li:first-child {
        opacity: 1; /*Mostramos el primer <li>*/
    }

    .slider ul li:target {
        opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
        display: block;
    }

    .menu{
        text-align: center;
        margin: 20px;
        width: 232px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .menu li{
        display: inline-block;
        text-align: center;
    }
    .menu li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: rgba(255, 135, 95, 0.737);
        padding: 10px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        border-radius: 100%;
    }
    /* fin enlaces slider */
}